<!doctype html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<title>Uploading...</title>
<style>
.progress {
    width: 100%;
    text-align: center;
}
.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
</style>
</head>
<body>
<div class="jumbotron vertical-center">
  <div class="progress">
	<div class="progress-bar progress-bar-striped active" role="progressbar"
  		aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:1%">
    	Initializing...
  </div>
  </div>
</div>

</body>
<script>

status_url = "/status/{{task_id}}"
update_progress(status_url);

function update_progress(status_url, nanobar, status_div) {
    // send GET request to status URL
    $.getJSON(status_url, function(data) {
        // update UI
        percent = parseInt(data['current'] * 100 / data['total']);
		if (percent >= 1) { 
			$('.progress-bar').css('width', percent+'%').attr('aria-valuenow', percent).text(percent + "%");
		}
		if (data['status'] == "DONE"){
			console.log(data['result']);
			$(location).attr('href','/data/' + data['result']);
		}
        // rerun in 2 seconds
        setTimeout(function() {
            update_progress(status_url, nanobar, status_div);
        }, 2000);
    });
}
</script>
</html>
