<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/t/dt/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-html5-1.1.2,b-print-1.1.2,cr-1.3.1,fh-3.1.1/datatables.min.css"/>

    <script type="text/javascript"
            src="https://cdn.datatables.net/t/dt/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-html5-1.1.2,b-print-1.1.2,cr-1.3.1,fh-3.1.1/datatables.min.js"></script>
    <title>Protein Clusters</title>
    <script type="text/javascript" class="init">

        var Pfam_info = {{Pfam_info|tojson or "null"}};

        function formatNestedLoci(n) {
            return "<table id='nestedLoci" + n + "' cellspacing='0' width='90%'> " +
                    "<thead>  <tr>  " +
                    "<th>Locus</th>" +
                    "<th>Description</th>" +
                    "<th>DB</th>" +
                    "</tr> </thead> </table>";
        }

        $(document).ready(function () {
            var table = $('#example').DataTable({
                "ajax": "/{{ json_filename }}",
                "iDisplayLength": 25,
                //"dom": "lfrtBip",
                "dom": "Bfrtip",
                "colReorder": true,
                "fixedHeader": true,
                "buttons": ['copy', 'csv',
                    /*{
                     extend: 'csv',
                     exportOptions: {
                     columns: [ 1, 3, 4,5,6,7,8,9 ] // need to fix this to include all extra added columns...
                     }
                     }*/
                    , 'excel', 'pdf', 'print', 'colvis'],
                "columns": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "width": "5%"
                    },
                    // http://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastp&CMD=Put&DATABASE=refseq_protein&QUERY=AMDFEDDYTHSACRNTY
                    {
                        "data": "name", "width": "30%", render: function (data, type, row) {
                        if (!row.seq)
                            return data;
                        else
                            return data + '<br><a href="http://blast.ncbi.nlm.nih.gov/Blast.cgi?PROGRAM=blastp&CMD=Put&DATABASE=refseq_protein&QUERY=' +
                                    row.seq + '" target="_blank">Blast</a>'
                    }
                    },
                    {
                        "data": "name", "width": "5%", render: function (data, type, row) {
                        if (data.indexOf("GN=") == -1)
                            return "";
                        else
                            return data.match("GN=\\S*")[0].replace("GN=", "")
                    }
                    },

                    {
                        "className": 'peptides-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "width": "5%"
                    },

                    {"data": "avg_ratio", render: $.fn.dataTable.render.number( ',', '.', 3 ) },

                    {"data": "p_value", render: $.fn.dataTable.render.number( ',', '.', 5 ) },

                    {"data": "max_quant"},

                    {"data": "go_names", "render": "[<br> ]"},

                    {
                        data: "annotations.Pfam",
                        render: function (data, type, row) {
                            var s = '';
                            if (data) {
                                for (var i = 0; i < data.length; i++)
                                    if (Pfam_info)
                                        s += '<a href="http://pfam.xfam.org/family/' + data[i] + '" target="_blank">' + Pfam_info[data[i]] + '</a><br>'
                                    else
                                        s += '<a href="http://pfam.xfam.org/family/' + data[i] + '" target="_blank">' + data[i] + '</a><br>'
                                return s;
                            } else {
                                return ''
                            }
                        },
                        sDefaultContent: ""
                    },

                    {
                        "data": "lca_organism", "render": function (data, type, row) {
                        return data + ' (' + row.lca + ')';
                    }
                    },
                    {"data": "lca", "visible": false},
                    {"data": "peptides", "visible": false, "defaultContent": ''},

                    {% if crapome %}
                        {"data": "crapome"},
                    {% endif %}
                    {% for sample in samples %}
                        {"data": "quantification.{{sample}}.ratio", render: $.fn.dataTable.render.number( ',', '.', 3 ), "sDefaultContent": 0},
                        {"data": "quantification.{{sample}}.counts", "sDefaultContent": 0},
                    {% endfor %}

                ],
                "undefined": "",
                "order": [[3, 'dsc']],
                //"search": {"search": "Fred"}
            });

            $('#pepSearch').on('change keyup paste input', function () {
                if ($(this).val().length > 0)
                    table.column(10).search(";" + $(this).val() + ";").draw();
                else
                    table.column(10).search("").draw();
            });

            var n = 0;
            // Add event listener for opening and closing loci details
            $('#example tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(formatNestedLoci(n)).show();
                    tr.addClass('shown');
                    //console.log(row.data());
                    var nested_table = $('#nestedLoci' + n).DataTable({
                        "data": row.data().prot_info,
                        "paging": false, "bFilter": false, "bInfo": false,
                        "columns": [
                            {"data": "_id"},
                            {"data": "d"},
                            {"data": "r"}
                        ]
                    });
                    n += 1;
                }
 
            });
            var m = 0;
            // Add event listener for opening and closing peptide details
            $('#example tbody').on('click', 'td.peptides-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open peptide row
                    tr.addClass('shown');

                    /*
                    if ("peptide_records" in row.data()) {

                        row.child("<table id='nestedPep" + m + "' cellspacing='0' width='60%' style='float:left'> </table>").show();
                        var dt = row.data().peptide_records;
                        dt.aoColumnDefs = [{
                            "aTargets": [0], "mRender": function (data, type, full) {
                                return '<a href="#" id=' + data + ' class="peptide">' + data + '</a>';
                            }
                        }];
                        var nested_table = $('#nestedPep' + m).DataTable(dt);
                        m += 1;
                        $('body').on('click', ".peptide", function () {
                            $("#pepSearch").val($(this)[0].id);
                            $("#pepSearch").trigger("change");
                            //console.log($(this)[0].id);
                        });

                    } else {*/
                    row.child(row.data().peptide_table).show();
                    //}
                }
            });
        });
    </script>
    <style>
        td.details-control {
            background: url('/static/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('/static/details_close.png') no-repeat center center;
        }

        td.peptides-control {
            background: url('/static/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.peptides-control {
            background: url('/static/details_close.png') no-repeat center center;
        }
    </style>
</head>

<body class="wide comments example">
<input type="text" class="form-control" name="pepSearch" id="pepSearch" value="peptide">
<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th colspan="12"></th>
        {% for sample in samples %}
            <th colspan="2">{{ sample }} </th>
        {% endfor %}
    <tr>
        <th>Expand Loci</th>
        <th>Name</th>
        <th>Gene Name</th>
        <th>Expand Peptides</th>
        <th>Avg Ratio</th>
        <th>p-value</th>
        <th>Max Quant</th>
        <th>GO Terms</th>
        <th>PFam Terms</th>
        <th>LCA</th>
        <th>temp</th>
        <th>peptides</th>
        {% if crapome %}
            <th>Crapome</th>
        {% endif %}
        {% for sample in samples %}
            <th>Ratio</th>
            <th>Spec</th>
        {% endfor %}
    </tr>
    </thead>
</table>
</body>
</html>
